.ant-table-body {
  overflow-y: auto !important;
}

.ant-tag-has-color {
  color: #323232;
}

.ant-tag {
  font-size: 14px;
  line-height: 22px;
  border-radius: 8px;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  border-radius: 8px;
}