.ant-table-body {
  overflow-y: auto !important;
}

.ant-tag-has-color {
  color: #323232;
}

.ant-tag {
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  border-radius: 8px;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  border-radius: 8px;
  border-color: transparent;
  color: #323232;
}

.pointerClass {
  color: #1890ff;
  cursor: pointer;
}

/* modal */

.ant-modal-header {
  border-bottom: 0;
}

.ant-modal-title {
  color: #323232;
}

.ant-modal-body {
  padding: 5px 24px;
}

.ant-modal-footer {
  border-top: 0;
}

.ant-modal {
  color: #323232;
}

.ant-input:focus {
  border-color: darkgrey;
}
