//layout vars
$navigationWidth: 64px;
$headerHeight: 15vh;
$sideBarWidth: 512px;

//colors
$burgundy: #791049;
$darkGrey: #818a8f;
$lightGrey: #d7d7d7;
$black: #323232;
$error: #dd3545;
$success: #28a745;
$highlight: #fafafa;

//font sizes
$headingSize: 1.35rem;
$paragraphSize: 1rem;
$miniText: 0.8rem;

//shared styling

.headerDiv {
  $height: $headerHeight !important;
  height: $height;
  min-height: $height;
  max-height: $height;
  background-color: #fff !important;
}

.contentWarpper {
  background-color: $lightGrey;
  padding: 24px;
  $height: 100vh - $headerHeight !important;
  height: $height;
  min-height: $height;
  max-height: $height;
}

.afaqCard {
  background-color: white;
  $height: 100% !important;
  height: $height;
  min-height: $height;
  max-height: $height;
  padding: 32px;
  border-left: 8px solid #323232;
  border-radius: 8px;
  overflow: hidden;
}

.alignEnd {
  text-align: end;
}

.afaqHeading {
  font-size: $headingSize !important;
  color: $black !important;
  margin-bottom: 8px;
}

//antd tags
.ant-tag-has-color {
  color: $black !important;
}

.ant-tag {
  font-size: $paragraphSize !important;
  line-height: 32px !important;
  height: 32px !important;
  border-radius: 8px !important;
  border: none !important;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  border-radius: 8px !important;
  border: none !important;
  color: $black !important;
}

.ant-tag:hover {
  opacity: 1 !important;
}

//antd modal
.ant-modal-header {
  border-bottom: 0;
}

.ant-modal-title {
  color: #323232;
}

.ant-modal-body {
  padding: 5px 24px;
}

.ant-modal-footer {
  border-top: 0;
}

.ant-modal {
  color: #323232;
}

//old

#content {
  width: calc(100% - 64px);
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
