node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log**.txt
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#visual studio runtime related
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

#nuget related
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/Build
*.nuget.props
.nuget.targets

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local