@{
    ViewData["Title"] = "Todo List";
}
@model IEnumerable<Afaq.Api.Models.TodoItemDTO>
<h2>Todo Items (MVC View)</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Title<br/>@item.Description</li>
    }
</ul>