#content {
  width: calc(100% - 64px);
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.headerBox {
  height: 128px;
}

.contentBox {
  background-color: #d7d7d7;
  height: calc(100vh - 128px);
}

.tableDiv {
  background-color: white;
  height: 100%;
  padding: 36px;
  border-left: 8px solid #323232;
  border-radius: 8px;
}

.rpd {
  padding: 24px !important;
}

.afaqHeading {
  font-size: 1.35rem !important;
  color: #323232 !important;
  margin-bottom: 8px !important;
}
