.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #323232;
}

.ant-steps-item-tail::after {
  height: 2px;
}

.ant-steps-item-subtitle {
  font-size: 0.8rem;
  color: #818a8f;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #791049;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #323232;
}

.ant-steps-navigation .ant-steps-item::after {
  content: none;
}

.ant-steps-navigation {
  padding-top: 0px;
}

.ant-steps-navigation .ant-steps-item::before {
  background-color: #791049;
}

.ant-steps-navigation
  .ant-steps-item:not(.ant-steps-item-active)
  .ant-steps-item-container[role="button"]:hover {
  opacity: 1;
}

.ant-steps-item-tail {
  left: auto;
}

.ant-steps-label-vertical .ant-steps-item-icon {
  margin-left: 47px;
}

.ant-steps-item-active .ant-steps-item-title {
  font-weight: 700;
}

.ant-steps
  .ant-steps-item:not(.ant-steps-item-active)
  > .ant-steps-item-container[role="button"]:hover
  .ant-steps-item-title {
  color: #323232 !important;
  font-weight: 700 !important;
}

.ant-steps
  .ant-steps-item:not(.ant-steps-item-active)
  > .ant-steps-item-container[role="button"]:hover
  .ant-steps-item-subtitle {
  color: #818a8f;
}
